:root {
  --pressed-state: #404bbf;
  --dark-grey: #2e2f42;
  --succes: #31d0aa;
  --text: #434455;
  --sub-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
  --blue-logo: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white-background);
  font-style: normal;
}

.section-two-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-grey);
}

.section-two-paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-three-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-grey);
  text-align: center;
  text-transform: capitalize;
}

.section-four {
  background-color: #f4f4fd;
}

.section-four-paragraf {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  text-transform: capitalize;
}
.card {
  background-color: #ffffff;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.link {
  text-decoration: none;
}
.link:hover {
  color: #404bbf;
}

.link:focus {
  color: #404bbf;
}

.logo-activ {
  color: var(--dark-grey);
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-grey);
}

.adress {
  font-style: normal;
}

.list {
  list-style: none;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.section-one {
  background-color: var(--dark-grey);
}

.section-one-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

.footer {
  background-color: var(--dark-grey);
}

.logo-activ-white {
  color: #f4f4fd;
}

.footer-paragraf {
  line-height: 1.5;
  color: var(--light);
  letter-spacing: 0.02em;
}

.logo-link-portfolio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue-logo);
}

.logo-activ-portfolio {
  color: var(--dark-grey);
}

.nav-link-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-grey);
}

.nav-link-portfolio:hover {
  color: #404bbf;
}

.nav-link-portfolio:focus {
  color: #404bbf;
}

.adress-portfolio {
  font-style: normal;
}

.kontakt-link-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

..lontakt-link-portfolio:hover {
  color: #404bbf;
}

.footer-portfolio {
  background-color: var(--dark-grey);
}

.logo-activ-portfolio-white {
  color: #f4f4fd;
}

.button-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--blue-logo);
  background-color: var(--light);
  cursor: pointer;
}

.button-portfolio:hover {
  color: #ffffff;
  background-color: #404bbf;
}

.button-portfolio:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.title-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-grey);
}

.paragraf-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
